.contact-section {
   display: grid;
   grid-template-columns: 1fr 2fr;
   padding: 0px 100px;
}

.contact-section img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}

.contact-section-form-container {
   background-color: #EDEDED;
   padding: 100px;
}

.contact-form-title {
   font-size: 3rem;
   color: #242833;
   font-weight: 600;
}

.contact-form {
   margin-top: 40px;
}

.input-container {
   max-width: 700px;
}

.input-container+.input-container {
   margin-top: 40px;
}

.contact-form-label {
   display: block;
   margin-bottom: 10px;
   font-weight: 500;
}

.contact-form-input {
   display: block;
   width: 100%;
   height: 40px;
   background-color: #DEDEDE;
   outline: none;
   border: none;
   padding: 0rem 1rem;
   box-sizing: border-box;
   font-size: 0.9rem;
}

.contact-form-submit {
   margin-top: 40px;
   padding: 1rem 1.5rem;
   font-size: 1.25rem;
   background: linear-gradient(180deg, #58FFF5 0%, #22D8CD 100%);
   outline: none;
   border: none;
   cursor: pointer;
   text-transform: uppercase;
   transition: .2s;
}

.contact-form-submit:hover {
   transform: scale(1.1);
}

@media screen and (max-width: 1400px) {
   .contact-section {
      padding: 50px;
   }

   .contact-section>div {
      padding: 50px;
   }

   .contact-form-title {
      font-size: 2rem;
   }
}

@media screen and (max-width: 1060px) {

   .contact-section {
      grid-template-columns: 1fr 1fr;
   }

   .contact-section>div {
      padding: 25px;
   }
}

@media screen and (max-width: 800px) {
   .contact-section {
      grid-template-columns: auto;
      grid-template-rows: 300px auto;
      padding: 20px 40px;
   }

   .contact-form-title {
      font-size: 1.5rem;
   }

   .input-container+.input-container {
      margin-top: 20px;
   }

   .contact-form-submit {
      margin-top: 30px;
   }

   .contact-form-label {
      font-size: 0.9rem;
   }

   .contact-form-input {
      font-size: 0.8rem;
   }

   .contact-form-submit {
      font-size: 1rem;
   }
}

@media screen and (max-width: 460px) {

   .contact-section {
      grid-template-rows: 200px auto;
      padding: 0px;
   }

   .contact-section-form-container {
      padding: 10px 20px;
   }

   .contact-form-title {
      font-size: 1.35rem;
   }

   .contact-form-input {
      height: 25px;
   }

   .contact-form-submit {
      font-size: 0.9rem;
   }

   .input-container+.input-container {
      margin-top: 20px;
   }

   .contact-form {
      margin-top: 20px;
   }

   .contact-form-label {
      font-size: 0.8rem;
      margin-bottom: 5px;
   }

   .contact-form-input {
      padding: 0rem 0.8rem;
   }

   .contact-form-submit {
      margin-top: 20px;
      padding: 0.8rem 1rem;
   }
}