.faq-questions {
   display: grid;
   grid-template-columns: auto;
   justify-content: center;
   gap: 20px;
   padding: 50px;
   background-color: #EDEDED;
}

.question h1 {
   color: #242833;
   font-weight: 600;
}

.question {
   background-color: #f2f2f2;
   padding: 20px;
   border: 2px solid #EDEDED;
}

.question-answer {
   position: relative;
}

.question-answer p {
   transition: .3s;
   top: 0px;
   opacity: 0;
   color: #0B0C12;
   font-size: 1rem;
}

.question-checkbox {
   all: unset;
   position: absolute;
   display: inline-block;
   width: 32px;
   height: 32px;
   z-index: 1;
   top: -30px;
   right: 0px;
   background-color: transparent;
   background-image: url("../img/icons/expand.svg");
   background-repeat: no-repeat;
   background-position: center;
   transition: .3s;
   cursor: pointer;
}

.question-checkbox:checked {
   background-image: url("../img/icons/contain.svg");
   transform: rotateZ(180deg);
}

.question-checkbox:checked+p {
   position: initial;
   opacity: 1.0;
}

@media screen and (max-width: 1400px) {
   .question h1 {
      font-size: 1.25rem;
   }
}

@media screen and (max-width: 800px) {
   .faq-questions {
      grid-template-columns: auto;
      align-content: start;
      justify-content: stretch;
      height: 100vh;
      padding: 40px;
      gap: 40px;
   }

   .question h1 {
      font-size: 1.5rem;
   }

   .question-answer p {
      position: absolute;
   }

   .question-checkbox {
      left: -40px;

   }
}

@media screen and (max-width: 600px) {
   .faq-questions {
      place-content: start;
      padding: 60px;
   }

   .question h1 {
      font-size: 1.25rem;
   }

   .question-answer p {
      font-size: 0.9rem;
   }

   .question-checkbox {
      left: -40px;
      top: -35px;
   }
}

@media screen and (max-width: 400px) {
   .faq-questions {
      gap: 20px;
   }

   .question h1 {
      font-size: 1rem;
   }

}