.faq-questions {
   gap: 20px;
   background-color: #EDEDED;
   padding: 100px;
}

.question-container {
   background-color: #f5f5f5;
   position: relative;
   padding: 20px;
   border: 2px solid #f5f5f5;
   margin: 0 auto;
   max-width: 900px;
}

.question-container+.question-container {
   margin-top: 20px;
}

.question {
   color: #242833;
   font-weight: 600;
   font-size: 1.5rem;
}

.question-answer {
   position: absolute;
   opacity: 0;
   color: #0B0C12;
   transition: .3s;
}

.question-checkbox {
   all: unset;
   position: absolute;
   display: inline-block;
   width: 32px;
   height: 32px;
   z-index: 1;
   top: 20px;
   right: 20px;
   background-color: transparent;
   background-image: url("../img/icons/expand.svg");
   background-repeat: no-repeat;
   background-position: center;
   transition: .3s;
   cursor: pointer;
}

.question-checkbox:checked {
   background-image: url("../img/icons/contain.svg");
   transform: rotateZ(180deg);
}

.question-checkbox:checked+.question-answer {
   position: initial;
   opacity: 1.0;
}

@media screen and (max-width: 1400px) {
   .question h1 {
      font-size: 1.25rem;
   }
}

@media screen and (max-width: 800px) {
   .faq-questions {
      padding: 40px;
   }

   .question-container {
      padding: 20px;
   }

   .question {
      font-size: 1.5rem;
   }

   .question-answer {
      position: absolute;
      font-size: 0.9rem;
   }

   .question-checkbox {
      top: 50px;
      right: 10px;
   }

   .question-container {
      min-width: initial;
   }


   .question-checkbox {
      /* background-image: url("../img/icons/expand_mobile.svg"); */
      top: -16px;
      right: 0px;
   }

   .question-checkbox:checked {
      /* background-image: url("../img/icons/contain_mobile.svg"); */
   }
}

@media screen and (max-width: 600px) {
   .faq-questions {
      gap: 20px;
   }
}

@media screen and (max-width: 460px) {
   .question-container {
      padding: 10px;
   }

   .question-checkbox {
      background-image: url("../img/icons/expand_mobile.svg");

   }

   .question-checkbox:checked {
      background-image: url("../img/icons/contain_mobile.svg");
   }

   .question {
      font-size: 1rem;
   }

   .question-answer {
      font-size: 0.9rem;
   }

   .faq-questions {
      gap: 10px;
   }
}