.footer {
   display: grid;
   background-color: #1B1B1B;
   grid-template-columns: repeat(3, auto);
   justify-content: space-between;
}

.footer h1 {
   color: #DEDEDE;
   font-size: 1.5rem;
}

.footer p {
   color: #F7F7F7;
   font-size: 1.25rem;
}

.footer div:not(:last-child) {
   padding: 100px;
}

.footer-copyright {
   background-color: #131313;
   grid-column: 1 / -1;
   padding: 40px 100px;
}

.footer-newsletter-label,
.footer-newsletter-input {
   display: block;
}

.footer-newsletter-label {
   color: #EDEDED;
   font-size: 1rem;
   font-weight: 500;
   margin-top: 20px;
}

.footer-newsletter-input {
   width: 100%;
   height: 40px;
   padding: 10px;
   box-sizing: border-box;
   margin-top: 10px;
   outline: none;
   font-size: 1rem;
}

.footer-newsletter-submit {
   margin-top: 20px;
   font-size: 1rem;
   background: linear-gradient(180deg, #3E475F 0%, #242833 100%);
   outline: none;
   border: none;
   padding: 1rem 1.5rem;
   text-transform: uppercase;
   color: #EDEDED;
   transition: .3s;
}

.footer-newsletter-submit:hover {
   transform: scale(1.1);
}