@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

html::-webkit-scrollbar {
   width: 5px;
}

html::-webkit-scrollbar-thumb {
   background-color: #58FFF5;
}

html::-webkit-scrollbar-track {
   background-color: #1b1b1b;
}

html {
   scrollbar-color: #58FFF5 #1b1b1b;
   scrollbar-width: 5px;
   transition: .2s;
}

* {
   padding: 0px;
   margin: 0px;
   user-select: none;
}

img {
   max-width: 100%;
   display: block;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

.about,
.products {
   margin-bottom: 300px;
}

@media screen and (max-width: 800px) {

   .about,
   .products {
      margin-bottom: 200px;
   }
}