.product-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 40px;
   margin-bottom: 200px;
}

.product {
   flex-basis: 350px;
}

.product p {
   padding: 30px;
   text-align: center;
   background: linear-gradient(180deg, rgba(249, 249, 249, 0.98) 0%, #EDEDED 100%);
   font-family: 'Poppins', sans-serif;
   border-radius: 0px 0px 10px 10px;
}

.product-image-container {
   height: 500px;
   position: relative;
}

.product-image-container img {
   border-radius: 10px 10px 0px 0px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.product-details {
   display: flex;
   flex-wrap: wrap;
   border-radius: 10px 10px 0px 0px;
   position: absolute;
   width: 100%;
   height: 100%;
   transition: .2s;
   opacity: 0.0;
   align-content: center;
}

.product-details p {
   background: none;
   padding: 0px;
   color: #F7F7F7;
   font-weight: 500;
   padding: 20px;
}

.product-details:hover {
   opacity: 1.0;
   background-color: rgba(0, 0, 0, 0.4);
   box-shadow: inset 0px 0px 50px 5px rgba(0, 0, 0, 0.4);
}

/* .products {
   width: 400px;
   overflow: hidden;
   margin: 300px auto;
}

.products-container {
   display: flex;
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
}

.products-container::-webkit-scrollbar {
   height: 5px;
}

.products-container>div {
   width: 100%;
   flex-shrink: 0;
   scroll-snap-align: start;
} */

@media screen and (max-width: 800px) {

   .products {
      width: 350px;
      overflow: hidden;
      margin: 0 auto;
   }

   .product-list {
      flex-wrap: nowrap;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      gap: 40px;
      justify-content: inherit;
   }

   ::-webkit-scrollbar {
      height: 10px;
   }

   ::-webkit-scrollbar-thumb,
   ::-webkit-scrollbar-track {
      border-radius: 0px 0px 10px 10px;
   }

   .product {
      flex-shrink: 0;
      scroll-snap-align: start;
   }

   .product p {
      border-radius: 0px;
   }
}