.return-top-btn {
   display: none;
   top: 5px;
   position: sticky;
   margin: 0px 20px;
   margin-top: 500px;
}

.return-top-btn a {
   background-color: #1B1B1B;
   padding: 5px;  
   width: 32px;
   height: 32px;
   background-image: url("../img/arrow-up.svg");
   display: inline-block;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 100%;
}

@media screen and (max-width: 800px) {
   html {
      overflow-y: hidden;
   }

   .return-top-btn {
      display: inline-block;
   }
}