.return-top-btn {
   display: none;
   top: 10px;
   position: sticky;
   margin: 20px;
   z-index: 2;
}

.return-top-btn a {
   background-color: #1B1B1B;
   padding: 5px;
   width: 32px;
   height: 32px;
   display: inline-block;
   background-image: url("../img/arrow-up.svg");
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 100%;
   transition: .3s;
}

.return-top-btn a:hover {
   background-color: #fff;
   background-image: url("../img/arrow-up-2.svg");
}


@media screen and (min-width: 801px) {
   html {
      scroll-padding-top: 100px;
   }
}

@media screen and (max-width: 800px) {
   html {
      overflow-y: hidden;
   }

   .return-top-btn {
      display: inline-block;
   }
}

@media screen and (max-width: 400px) {
   .return-top-btn a {
      width: 16px;
      height: 16px;
   }
}